.container {
  display: flex;
  max-width: 1620px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-align: center;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;
  user-select: none;

  &.green {
    color: white;
    background-color: $green;

    &:hover {
      background-color: $green-light;
    }
  }

  &.red {
    color: white;
    background-color: #ff2323;

    &:hover {
      background-color: #ff6f6f;
    }
  }

  &.gray {
    color: $green;
    background-color: $gray;

    &:hover {
      background-color: $gray-light;
    }
  }

  &.white {
    border: 3px solid #c8c8c8;
    color: #494949;
    background-color: white;
    box-shadow: none;

    &:hover {
      background-color: $gray-light;
    }
  }

  &.white_sky {
    color: #bbe242;
    background-color: white;

    &:hover {
      background-color: $gray-light;
    }
  }

  &.border_white {
    border: 3px solid white;
    color: white;
    background-color: transparent;
  }

  &.border_green {
    border: 3px solid $green;
    color: $green;
    background-color: white;

    &:hover {
      background-color: $gray-light;
    }
  }

  &.border_black {
    border: 3px solid #6b7280;
    color: #6b7280;
    background-color: white;

    &:hover {
      background-color: $gray-light;
    }
  }

  &.lg {
    height: 48px;
    font-size: 18px;
    min-width: 155px;
    max-width: 180px;

    &.equal {
      padding: 18px;
    }
  }

  &.md {
    height: 42px;
    min-width: 155px;

    &.equal {
      padding: 16px;
    }
  }

  &.sm {
    height: 38px;
    min-width: 125px;

    &.equal {
      padding: 12px;
    }
  }

  &.xxl {
    height: 48px;
    font-size: 18px;
    min-width: 200px;
    max-width: 250px;

    &.equal {
      padding: 18px;
    }
  }

  &.full {
    width: 100%;
  }

  &.right {
    margin-left: 16px;
  }

  i {
    margin-left: -8px;
  }

  &.disabled {
    cursor: default;
    background-color: #cccccc !important;
    pointer-events: none;
  }
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.mv-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mv-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mv-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mh-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mh-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mh-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.pv-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pv-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ph-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.ph-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.ph-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

a.b2glink {
  position: relative;
  text-decoration: none;
  color: $green;
  transition: color 0.15s ease-in;
}

a.b2glink::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: $green;
  transition: transform 250ms;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
}

a.b2glink:hover {
  color: $green !important;

  &::after {
    text-transform: none;
    transform: translateX(-50%) scaleX(1);
  }
}

.left-enter-active,
.left-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.left-enter {
  opacity: 0;
  transform: translateX(-50px);
}

.left-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.block {
  background-color: white;
  margin-top: 24px;
  border-radius: 8px;
  cursor: default;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);

  .head {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: $green;
    color: #ffffff;
    border-radius: 8px 8px 0 0;

    h5 {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    padding: 24px;
  }
}
